.Weather {
  border: 1px solid #dadde1;
  background-image: linear-gradient(#3b4e7a 0%, #57a2b4 100%);
  padding: 16px;
  margin: 30px auto;
  border-radius: 10px;
  max-width: 600px;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  color: white;
  font-weight: 300;
  line-height: 29px;
  margin: 20px 0 5px 0;
  text-transform: capitalize;
  letter-spacing: 5px;
}

.Weather h2 {
  color: white;
  font-weight: 100;
}

.Weather ul {
  color: white;
  line-height: 20px;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 30px;
  margin-top: -5px;
  padding-left: 3px;
  list-style: none;
}

.Weather .temperature {
  font-weight: 600px;
  color: rgb(255, 255, 255);
  display: block;
  font-family: Montserrat, sans-serif;
  font-size: 70px;
  letter-spacing: 5px;
}

.Weather img {
  margin-right: 10px;
}
