.Weather {
  border: 1px solid #dadde1;
  background-image: linear-gradient(#475e94 0%, #86b5db 100%);
  color: white;
  padding: 16px;
  margin: 30px auto;
  border-radius: 10px;
  max-width: 600px;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  font-weight: 300;
  line-height: 29px;
  margin: 20px 0 5px 0;
}

.Weather ul {
  line-height: 1;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 30px;
  margin-top: -5px;
  padding-left: 3px;
  list-style: none;
}

.Weather .temperature {
  font-weight: bold;
  font-size: 64px;
}

.Weather img {
  margin-right: 10px;
}
